@font-face{
	font-family: "Flatform Light";
	src:url("font/Flatform_Light.otf");
}
@font-face{
	font-family: "opensans";
	src:url("font/opensans.ttf");
}

@font-face{
	font-family: "MyriadProRegular";
	src:url("font/Myriad Pro Regular.ttf");
}

header{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	width: 1200px;
	margin: auto;
	padding: 50px 0px;
}
body{
	margin: 0;
}
main{
	width: 1200px;
	margin: auto;
}
.logo{
	font-size: 40px;
	font-family: "Flatform Light";
}
nav{
	width: 50%;
}
nav ul{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
a{ 
	text-decoration: none;
}
nav ul a{
	color: #000;
}
nav ul a:hover{
 	text-decoration: underline;
}
 nav ul li {
	list-style: none;
	font-size: 16px;
	font-family: "opensans"
}
.billboard{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
}
.billboard-img{
	width: 100%;
}
.billboard-content{
 	position: absolute;
 	text-align: center;
}
h1{		
	font-size: 50px;
	margin-bottom: 0;
}
.billboard-content p, h1{
	color: #4d4d4d;
}

.btn {
	width: 290px;
	border: 1px;
	border-radius: 20px;
	background: #4d4d4d;
	font-family: MyriadProRegular;
	font-size: 18px;
	display: inline-block;
	margin-top: 10px;
	padding: 10px 0; 

}
.btn a{
	text-transform: uppercase;
	color: #fff;
}
.btn-img{
	padding-bottom: 3px ;
}
.services-wrap{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}
.services-picture{
	margin-top: 100px;
}
.services-title{
	margin: 40px 40px;
	font-family: "opensans";
	font-weight: bold;
	text-transform: uppercase;
	font-size: 22px;
}
.services-middle .services-content{
	padding: 0 80px 0 80px;
}
.services-content-first{
	font-family: "MyriadProRegular";
	font-size: 14px; 
}
.services-content{
	font-family: "opensans";
	font-size: 14px;
}
hr{
	color: #a6a5a5; 
	margin-top: 100px;
}
.block-video{
	text-align: center;
}
h2{
	font-family: "opensans";
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
}
.video-content{
	font-family: "MyriadProRegular";
	font-size: 16px;
	width: 500px;
	margin:auto;
	padding: 20px;
}
.video{
	padding: 60px 0 100px 0;
}
.recent-work{
	text-align: center;
}
.recent-work-title{
	font-family: "opensans";
	font-size: 30px;
	margin-top: 0;
}
.wrap-w{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 60px;
}
.work{
	position: relative;
	width: 260px;
	height: 320px;
	background: #f7f7f7;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center; 
}
.worktitle{
	position: absolute;
}
.wbrand{
	font-family: "opensans";
	font-size: 25px;
	text-transform: uppercase;
	margin: 0;
}
.wdescription{
	font-family: "opensans";
	font-size: 16px;
	margin: 0;
}
.worklink a{
	color: #fff;
}
.worklink{
	position: absolute;
	display: none;
	font-family: "opensans";
	font-size: 16px;
	height: 60px;
	width: 260px;
	color: #fff;
	background: #575757;
	bottom: 0;

}
.work:hover .worklink{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.subscribers-wrap{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: #f5f5f5;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	margin: 100px 0 100px;
	width: 100%;
	height: 360px;
}
.subscribers{
	position: absolute;
 	text-align: center;
}
.subscribers-content{
	font-family: "opensans";
	font-size: 14px;
}
.btn-subscribers{
	width: 290px;
	border: 1px solid #111111;
	border-radius: 20px;
	background: #f5f5f5;
	display: inline-block;
	margin-top: 10px;
	padding: 10px 0;
}
.btn-subscribers a{
	font-family: "MyriadProRegular";
	font-size: 16px;
	text-transform: uppercase;
	color: #111111;
}
.wrap-icon{
	margin-bottom: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center; 
}
.icon a{
	width: 70px;
	height: 70px;
	border: 1px solid #4d4d4d;
	color: #4d4d4d;
	margin: 0 30px 0 30px;
	display: flex;
	align-items: center;
	justify-content: center;

}
.icon a:hover{
	background: #55acee;
	color: #fff;
	border: 1px solid transparent ;
}
.wrap-footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #3b3b3b;
	padding: 100px;
}

.footer-tittle{
	color: #fff;
	font-size: 18px;
	font-family:"opensans";
	width: 25%;
	padding-right: 60px;
}
.footer-tittle ul{
	padding: 0;
}
.footer-tittle ul li{
	list-style-type: none;	
}
.footer-tittle ul li a{
	font-size: 14px;
	font-family:"opensans";
}
.footer-content{
	margin-top: 20px;
}
.footer-text{
	color: #fff;
	font-size: 14px;
	font-family:"opensans";
	margin-top: 0;
}
.footer-link{
	color: #848484;
	text-decoration: underline;
}
.footer-img{
	padding-bottom: 2px;
}